<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dcits.zgfscx.dao.IZgSfxxDao" >
  <resultMap id="BaseResultMap" type="com.dcits.springboot.domain.model.User" >
    <id column="name" property="name" jdbcType="VARCHAR" />
    <result column="age" property="sfzh" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    name, age
  </sql>
  <select id="selectAll" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user
  </select>
</mapper>